@import "./reset.css";
@import "./buttons.css";

@font-face {
  font-family: Lexend;
  src: url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap")
    format("truetype");
}

body {
  font-family: Lexend, sans-serif;
}

:root {
  --brand1: #4529e6;
  --brand2: #5126ea;
  --brand3: #b0a6f0;
  --brand4: #edeafd;

  --grey0: #0b0d0d;
  --grey1: #212529;
  --grey2: #495057;
  --grey3: #868e96;
  --grey4: #adb5bd;
  --grey5: #ced4da;
  --grey6: #dee2e6;
  --grey7: #e9ecef;
  --grey8: #f1f3f5;
  --grey9: #f8f9fa;
  --grey10: #fdfdfd;
  --whitefixed: #ffffff;

  --alert1: #cd2b31;
  --alert2: #fdd8d8;
  --alert3: #ffe5e5;
  --sucess1: #18794e;
  --sucess2: #ccebd7;
  --sucess3: #ddf3e4;

  --random1: #e34d8c;
  --random2: #c04277;
  --random3: #7d2a4d;
  --random4: #7000ff;
  --random5: #6200e3;
  --random6: #36007d;
  --random7: #349974;
  --random8: #2a7d5f;
  --random9: #153d2e;
  --random10: #6100ff;
  --random11: #5700e3;
  --random12: #30007d;
}

.heading1-700 {
  font-size: 2.75rem;
  font-weight: 700;
}
.heading2-600 {
  font-size: 2.188rem;
  font-weight: 600;
}
.heading3-600 {
  font-size: 2rem;
  font-weight: 600;
}
.heading3-500 {
  font-size: 2rem;
  font-weight: 500;
}
.heading4-600 {
  font-size: 1.75rem;
  font-weight: 600;
}
.heading4-500 {
  font-size: 1.75rem;
  font-weight: 500;
}
.heading5-600 {
  font-size: 1.5rem;
  font-weight: 600;
}
.heading5-500 {
  font-size: 1.5rem;
  font-weight: 500;
}
.heading6-600 {
  font-size: 1.25rem;
  font-weight: 600;
}
.heading6-500 {
  font-size: 1.25rem;
  font-weight: 500;
}
.heading7-600 {
  font-size: 1rem;
  font-weight: 600;
}
.heading7-500 {
  font-size: 1rem;
  font-weight: 500;
}

.ocult {
  display: none !important;
}

.advertBody {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--brand2) 50%, var(--brand4) 50%);
}

.advertImg {
  width: 90%;
  height: 100%;

  object-fit: contain;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-1 {
  transition: 1s;
}

.direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.perfil {
  width: 50px;
  height: 50px;
}

.perfil img {
  width: 100%;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: var(--grey5) !important;
  padding: 12.5px 12px !important;
}

.card--title {
  color: var(--grey0) !important;
  font-weight: 600 !important;
}

.card--description {
  color: var(--grey2);
  font-weight: 400 !important;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card--user {
  color: var(--grey2);
  font-weight: 500;
}

.card--price {
  color: var(--grey0) !important;
  font-weight: 500;
}

.chip {
  color: var(--brand1) !important;
  background-color: var(--brand4) !important;
}

.AdvertCard {
  background-color: var(--whitefixed);
}

.Advertdesc {
  color: var(--grey2);
  font-weight: 400 !important;
}

@media (min-width: 400px) {
  .advertImg {
    height: 80%;

    object-fit: contain;
  }

  .box-1 {
    width: 100% !important;
  }
}

@media (min-width: 540px) {
  .advertImg {
    height: 100px;

    object-fit: contain;
  }

  .box-1 {
    width: 100% !important;
  }

  .box-2 {
    width: 100% !important;
    height: 300px !important;
  }

  .box-2 img {
    width: 100% !important;
  }

  .direction {
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
  }

  .division-1 {
    width: 50%;
  }

  .division-2 {
    width: 50%;
  }

  .perfil {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 700px) {
  .container {
    padding: 0 !important;
  }

  .advertImg {
    width: 80%;
    height: 100%;

    object-fit: contain;
  }

  .box-2 img {
    width: 100% !important;
  }
}

@media (min-width: 900px) {
  .container {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .advertImg {
    width: 80%;
    height: 100%;

    object-fit: contain;
  }

  .box-2 {
    min-height: 400px;
    height: 100% !important;
  }

  .box-2 img {
    width: 100% !important;
  }

  .division-1 {
    width: 60%;
  }

  .division-2 {
    width: 30%;
  }

  .direction {
    gap: 3%;
  }

  .perfil {
    width: 50px;
    height: 50px;
  }

  .perfil img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }
}
